/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3a1e1f31-cg3tfm0k version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1000px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-divider  {
		
						border-color: rgb(138, 129, 108);
						
						width: 100%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.28;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);	
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-body h1  { 
						line-height: 0.8em;
						font-size:calc( 10px + ( 66rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: "Playfair Display";
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .draggable-pic-wrapper  {
			
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .draggable-pic  {
			
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k #sr-basket-widget *  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						padding-top: 20px;
						
						font-family: Arial;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-bottom: 15px;
						
						width: 150px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-link-img  {
		
						width: 41px;
						
						margin: 7px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(57, 57, 57);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgba(244, 244, 244, 0.909804);
						
						letter-spacing: -0.0em;
						
						max-width: 600px;
						
						margin-top: 20px;
						
						margin-bottom: 45px;
						
						font-family: Arial;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .middle_layout .helper-div  ,  .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-3a1e1f31-cg3tfm0k .preview-body h2  { 
						font-family: "Playfair Display";
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-afnoiyxy .preview-content-holder{
				
							text-align : left;
					
				}


 .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-qs2jgtbd.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-scpw6fo9.inner-pic{
				
							background-size : cover;
					
							background-position : 50% 50%;
					
				} .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-85hdevfu.inner-pic{
				
							background-size : cover;
					
				}




.desktop-mode .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-yduqh0nc-wrapper.draggable-pic-wrapper{
				
							top : 60px;
					
							left : 380px;
					
							width : 117px;
					
				}.desktop-mode .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-c2to6ro6-wrapper.draggable-pic-wrapper{
				
							top : -52px;
					
							left : 887px;
					
							height : 627px;
					
							width : 184px;
					
				}
 .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-c2to6ro6.draggable-pic{
				
							-webkit-filter:none;filter:none;
						
					
							background-position : top left;
					
							background-size : contain;
					
				} .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-yduqh0nc.draggable-pic{
				
							background-position : top left;
					
							background-size : contain;
					
				}





 .style-3a1e1f31-cg3tfm0k #vbid-3a1e1f31-afnoiyxy .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-d4hbhjzn version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-7b8e741d-d4hbhjzn .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .Subtitle  ,  .master .style-7b8e741d-d4hbhjzn .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .Title  ,  .master .style-7b8e741d-d4hbhjzn .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .link-wrapper  {
		
						max-width: 1238px;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-7b8e741d-d4hbhjzn .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-7b8e741d-d4hbhjzn .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-7b8e741d-d4hbhjzn .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-7b8e741d-d4hbhjzn.master.container > #children  {
		
						background-color: rgb(239, 239, 239);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						letter-spacing: -0.05em;
				
						font-family: Arial;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						border-width: 2px;
				
						line-height: 1.5em;
				
						letter-spacing: 0.45em;
				
						border-radius: 0px;
				
						font-family: "Open Sans";
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: 'Playfair Display';
				
						letter-spacing: 0.0em;
				
						line-height: 1.4em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: 0.0em;
				
						line-height: 1.9em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 110px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 160px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-6wvze2ff version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 5px;
						
						padding-left: 5px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
						
						margin-left: 0px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 0px;
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-left: 5px;
						
						margin-bottom: 15px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-item-links.allow-bg-color  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .stripe-background  {
		
						margin-top: -10px;
						
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-element.icon-source  {
		
						margin-right: 10px;
						
						margin-bottom: 15px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						width: 70px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .middle_layout .helper-div  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-6wvze2ff .preview-body h2  { font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-nfav9jue version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-body h1  { 
						font-family: Oswald;
						font-size:calc( 10px + ( 35rem - 10rem ) );
						color: rgb(239, 239, 239);
						
						letter-spacing: 0.05em;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-link-img  {
		
						width: 41px;
						
						margin: 7px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 30px;
						
						text-align: left;
						
						max-width: 239;
						
						padding-right: 50px;
						
						margin-top: 45px;
						
						margin-left: 0px;
						
						padding-top: 30px;
						
						margin-bottom: 45px;
						
						background-color: rgba(0, 0, 0, 0.05);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 50px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(239, 239, 239);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-element.Link.hover-tester  { 
						color: rgb(239, 239, 239);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-divider  {
		
						margin-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-element.icon-source  {
		
						width: 80px;
						
						margin-bottom: 15px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .inner-pic  {
		
						opacity: 0.8;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .middle_layout .helper-div  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-nfav9jue .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						font-family: Oswald;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




 .style-7b8e741d-nfav9jue #vbid-7b8e741d-szao11vq .preview-content-wrapper{
				
							text-align : right;
					
				}

 .style-7b8e741d-nfav9jue #vbid-7b8e741d-szao11vq .preview-content-holder{
				
							text-align : center;
					
				}

















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-066683da-jmwqdpdg version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .item-content:not(.blocks_layout)  {
		
						background-color: rgb(152, 52, 52);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 4px;
						
						width: 100%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .background-div  {
			
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 70rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						font-family: Oswald;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 30px;
						
						padding-left: 30px;
						
						border-radius: 22px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(95, 184, 148, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-link-img  {
		
						margin: 4px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .inner-pic-holder  {
		
						background-color: rgb(237, 84, 7);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-item-links span:before  ,  .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 600px;
						
						margin-top: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .middle_layout .helper-div  ,  .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-066683da-jmwqdpdg .preview-body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						font-family: 'Times New Roman';
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-066683da-jmwqdpdg #vbid-066683da-3sz6o3yq.inner-pic{
				
							background-position : 48.9551% 63.9881%;
					
				}






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-bro63w0c version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 750px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(159, 80, 80, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .item-content:not(.blocks_layout)  {
		
						background-color: rgb(30, 30, 30);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-divider  {
		
						margin-bottom: 15px;
						
						width: 25%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-form .Field  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(188, 188, 188);
						
						max-width: 600px;
						
						padding-right: 10px;
						
		    			border-top:none;border-left:none;border-right:none;border-bottom-style:solid;
						padding-left: 10px;
						
						padding-top: 15px;
						
						min-width: 400px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-form .Field:hover  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(237, 237, 237);
						
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(67, 67, 67);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .background-div  {
			
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-bottom: 0px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(236, 234, 225);
						
						padding-bottom: 15px;
						
						border-color: rgb(131, 131, 131);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 50px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-form .Field.no-value:not(:hover)  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(188, 188, 188);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-item-links span:before  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .effect-tester  { 
						background-color: rgb(147, 147, 147);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(53, 53, 53);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .inner-pic-holder  {
		
						background-color: rgb(23, 23, 23);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-body  {
		font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(147, 147, 147);
						
						letter-spacing: 0.25em;
						
						max-width: 800px;
						
						margin-top: 5px;
						
						margin-bottom: 15px;
						
						font-family: Abel;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .field-holder  {
			
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .middle_layout .helper-div  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bro63w0c .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-45mwel8d version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .background-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-body h1  { font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-link-img  {
		
						width: 56px;
						
						margin: 8px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .inner-pic-holder  {
		
						background-color: rgba(142, 98, 98, 0.48);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						max-width: 500px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(92, 33, 33, 0);
						
						padding-left: 0px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						padding-right: 15px;
						
						margin-top: 25px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-title-holder  {
		
						text-align: center;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-body  {
		font-size:calc( 10px + ( 13rem - 10rem ) );
						margin-top: 15px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-45mwel8d .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-top: 5px;
						
						line-height: 1.3em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-bzmomunk version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(42, 42, 42);
						
						letter-spacing: 0.05em;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-link-img  {
		
						width: 35px;
						
						margin: 5px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 45px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 45px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(106, 106, 106);
						
						padding-bottom: 10px;
						
						border-color: rgb(106, 106, 106);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-element.Link.hover-tester  { 
						color: rgb(42, 42, 42);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .item-content:not(.blocks_layout)  {
		
						background-color: rgb(237, 234, 229);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-divider  {
		
						margin-bottom: 15px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .inner-pic  {
		
						opacity: 0.18;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(89, 89, 89);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-element.icon-source  {
		
						width: 210px;
						
						margin-bottom: 15px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .middle_layout .helper-div  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-bzmomunk .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.35em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: 'Playfair Display';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




 .style-7b8e741d-bzmomunk #vbid-7b8e741d-8rjnydk6 .preview-content-holder{
				
							text-align : center;
					
				}








 .style-7b8e741d-bzmomunk #vbid-7b8e741d-yfbeamab.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}



 .style-7b8e741d-bzmomunk #vbid-7b8e741d-8rjnydk6 .preview-content-wrapper{
				
							text-align : center;
					
				}






/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7b8e741d-eqqpt37c version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c  .preview-content-holder  {
		
						margin-bottom: 30px;
						
						text-align: left;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						max-width: 350px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-body  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						font-family: Abel;
						
						margin-top: 10px;
						
						line-height: 1.5em;
						
						margin-bottom: 10px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .inner-pic  {
		
						opacity: 1.2;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;
						background-size: cover;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c #pagination-holder  {
		
						font-family: Times New Roman;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 1px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .background-div  {
			
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c.master.item-box   {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-title  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-body h1  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-item-links span  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c #sr-basket-widget *  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(147, 147, 147);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 15px;
						
						padding-top: 15px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .stripe-background  {
		
						opacity: 0.5;
						
						margin-top: -25px;
						
						margin-left: -6%;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 25px;
						
						padding-left: 0px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-subtitle  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: left;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-price  {
		font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						font-family: Dosis;
						
						direction: ltr;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-item-links span:hover  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(147, 147, 147);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-item-links span:before  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .effect-tester  { 
						background-color: rgb(147, 147, 147);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-title  {
		
						letter-spacing: 0.0em;
						
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 27rem - 10rem ) );
						margin-top: 15px;
						
						margin-bottom: 10px;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-body  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(147, 147, 147);
						
						max-width: 400px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .blocks-preview-item-links .Link  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-bottom: 5px;
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .pic-side:after  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .item-effect-tester  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-subtitle  ,  .style-7b8e741d-d4hbhjzn .style-7b8e741d-eqqpt37c .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
